.custom-tooltip {
    background: white;
    padding: 20px;
    border: 1px solid black
}

.custom-legend {
    display: flex;
    gap: 8px;
    padding: 20px
}

.chart-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-image {
    height: 200px;
    width: auto;
    object-fit: contain;
    display: block;
}